# Dependencies
node_modules/
client/node_modules/

# Environment variables - IMPORTANT!
.env
.env.local
.env.production
.env.*.local

# Build output
dist/
build/
client/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel

#cypress
cypress/